extends layout

block content
	h1 #{title}
	p Oogkleuren van iedereen in de klas
	button(id='random' class='randomizerButton') Randomize de ogen
	div(class='block-container')
		each key, value in hexColors
			div(class='eyeball-container')
				li(class='eyeball')
					div(style=`background-color: ${key};`  class='color-block')
						div(class='pupil')
				li(class='eyeball')
					div(style=`background-color: ${key};` class='color-block')
						div(class='pupil')
	div(class='block-container block-percentage')
		h2 Nu in procenten
		p Oogkleuren van iedereen maar dan in percentages
		div(class='percentage-container')
			-let index = 0
			each key, value in colors
				li(style=`background-color: ${hexKeys[index++]}`)= `${key}% ${value}`
			
